.grid {
  width: 600px;
  height: 600px;
  list-style-type: none;
}

.gridEl {
  float: left;
  border: 5px solid black;
  background-color: grey;
  width: 175px;
  height: 175px;
}

.gridEl:hover {
  background-color: yellow;
}

#x,
#o {
  text-align: center;
  line-height: 175px;
  font-size: 100px;
  font-weight: 700;
}

#x {
  background-color: red;
}

#o {
  background-color: green;
}
